body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #2c5ec2;
                }
                h1 {
                    color: #fcad74;
                }
                p {
                    color: #04619f;
                }   